<head>
    <link rel="shortcut icon" href="media/favicon.png">
    <link rel="stylesheet" type="text/css" href="stylesheets/welcome.css">
    <title>Welcome</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="javascripts/welcome.js"></script>
</head>
    
<body>
    <h1 style="margin-top:-50px;">Welcome to the Europe map game!</h1>
    <img src="media/eu_flag.jpg" alt="European Union flag" height="400">
    <br>
    <br>
    <form action='/' method ='get'>
        <h2>Choose a display name:</h2>
            <input type='text' name='name'><br><br>
        <button type='submit'>Continue</button>
    </form>
    <p>Note: This website uses cookies to ensure you can return to your progress later. By clicking "continue", you agree to the use of cookies on this website.</p>
</body>